<section data-anchor="" style="scroll-margin-top: 80px; margin: 0px 0px 0px 0px; padding: 60px 0px 40px 0px"
    class="bg-white " id="">
    <section class="section bg-transparent">
        <div class="container grid gap-6 text-center">
            <h2 class="text-typestyle-display-2 text-black text-bg-light">
                Nuestros seguros de siempre, más digitales que nunca.
            </h2>
            <div class="text-typestyle-title-regular text-gray text-bg-light">

            </div>
        </div>
    </section>
    <section class="section bg-transparent">
        <div class="container">
            <div class="mx-auto ">
                <ul class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-y-16" role="list">
                    <li>
                        <div
                            class="card-style-outlined overflow-hidden flex flex-col items-center p-6 rounded-4xl text-center">
                            <div class="flex items-center gap-4 w-full mb-4 justify-center">

                                <div class="mb-4">
                                    <svg class="icon-type-illustration">
                                        <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#Salud-illu"></use>
                                    </svg>
                                </div>
                            </div>
                            <div>
                                <div class="mb-2">
                                    <h3 class="text-typestyle-subheading-bold text-black text-bg-light">
                                        Seguros de triatlon 
                                    </h3>
                                </div>
                                <div>
                                    <div class="text-typestyle-body-1-regular text-gray text-bg-light">

                                        <!--@textTag-->

                                    </div>
                                    <ul class="flex justify-center items-center gap-4 mt-6" role="list">
                                        <li>
                                            <a class="button button-dense button-style-contained" target="_self"
                                                href="/ptc" type="button">
                                                <span>Calcula tu seguro</span>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div
                            class="card-style-outlined overflow-hidden flex flex-col items-center p-6 rounded-4xl text-center">
                            <div class="flex items-center gap-4 w-full mb-4 justify-center">

                                <div class="mb-4">
                                    <svg class="icon-type-illustration">
                                        <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#Vida-illu"></use>
                                    </svg>
                                </div>
                            </div>
                            <div>
                                <div class="mb-2">
                                    <h3 class="text-typestyle-subheading-bold text-black text-bg-light">
                                        Seguros de vida
                                        <!--@textTag-->

                                    </h3>
                                </div>
                                <div>
                                    <div class="text-typestyle-body-1-regular text-gray text-bg-light">

                                        <!--@textTag-->

                                    </div>
                                    <ul class="flex justify-center items-center gap-4 mt-6" role="list">
                                        <li>
                                            <a class="button button-dense button-style-contained" target="_self"
                                                href="/contratar-seguro/vida/?IDFR=vida" type="button">
                                                <span>Calcula tu seguro</span>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div
                            class="card-style-outlined overflow-hidden flex flex-col items-center p-6 rounded-4xl text-center">
                            <div class="flex items-center gap-4 w-full mb-4 justify-center">

                                <div class="mb-4">
                                    <svg class="icon-type-illustration">
                                        <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#Devices-illu"></use>
                                    </svg>
                                </div>
                            </div>
                            <div>
                                <div class="mb-2">
                                    <h3 class="text-typestyle-subheading-bold text-black text-bg-light">
                                        Seguros de dispositivos
                                        <!--@textTag-->

                                    </h3>
                                </div>
                                <div>
                                    <div class="text-typestyle-body-1-regular text-gray text-bg-light">

                                        <!--@textTag-->

                                    </div>
                                    <ul class="flex justify-center items-center gap-4 mt-6" role="list">
                                        <li>
                                            <a class="button button-dense button-style-contained" target="_self"
                                                href="/contratar-seguro/moviles/?IDFR=banda" type="button">
                                                <span>Calcula tu seguro</span>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section bg-transparent">
        <div class="container">
            <div class="mx-auto ">
                <ul class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-y-16" role="list">
                    <li>
                        <div
                            class="card-style-outlined overflow-hidden flex flex-col items-center p-6 rounded-4xl text-center">
                            <div class="flex items-center gap-4 w-full mb-4 justify-center">

                                <div class="mb-4">
                                    <svg class="icon-type-illustration">
                                        <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#Hogar-illu"></use>
                                    </svg>
                                </div>
                            </div>
                            <div>
                                <div class="mb-2">
                                    <h3 class="text-typestyle-subheading-bold text-black text-bg-light">
                                        Seguros de hogar
                                        <!--@textTag-->

                                    </h3>
                                </div>
                                <div>
                                    <div class="text-typestyle-body-1-regular text-gray text-bg-light">

                                        <!--@textTag-->

                                    </div>
                                    <ul class="flex justify-center items-center gap-4 mt-6" role="list">
                                        <li>
                                            <a class="button button-dense button-style-contained" target="_self"
                                                href="/contratar-seguro/lifestyle/hogar/direct/household?IDFR=hogar"
                                                type="button">
                                                <span>Calcula tu seguro</span>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div
                            class="card-style-outlined overflow-hidden flex flex-col items-center p-6 rounded-4xl text-center">
                            <div class="flex items-center gap-4 w-full mb-4 justify-center">

                                <div class="mb-4">
                                    <svg class="icon-type-illustration">
                                        <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#Movilidad-illu"></use>
                                    </svg>
                                </div>
                            </div>
                            <div>
                                <div class="mb-2">
                                    <h3 class="text-typestyle-subheading-bold text-black text-bg-light">
                                        Seguros de movilidad
                                        <!--@textTag-->

                                    </h3>
                                </div>
                                <div>
                                    <div class="text-typestyle-body-1-regular text-gray text-bg-light">

                                        <!--@textTag-->

                                    </div>
                                    <ul class="flex justify-center items-center gap-4 mt-6" role="list">
                                        <li>
                                            <a class="button button-dense button-style-contained" target="_self"
                                                href="/contratar-seguro/lifestyle/movilidad-personal?IDFR=banda"
                                                type="button">
                                                <span>Calcula tu seguro</span>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div
                            class="card-style-outlined overflow-hidden flex flex-col items-center p-6 rounded-4xl text-center">
                            <div class="flex items-center gap-4 w-full mb-4 justify-center">

                                <div class="mb-4">
                                    <svg class="icon-type-illustration">
                                        <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#Coches-illu"></use>
                                    </svg>
                                </div>
                            </div>
                            <div>
                                <div class="mb-2">
                                    <h3 class="text-typestyle-subheading-bold text-black text-bg-light">
                                        Seguros de motor
                                        <!--@textTag-->

                                    </h3>
                                </div>
                                <div>
                                    <div class="text-typestyle-body-1-regular text-gray text-bg-light">

                                        <!--@textTag-->

                                    </div>
                                    <ul class="flex justify-center items-center gap-4 mt-6" role="list">
                                        <li>
                                            <a class="button button-dense button-style-contained" target="_self"
                                                href="/contratar-seguro/motor/direct" type="button">
                                                <span>Calcula tu seguro</span>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>


</section>