<header class="sticky top-0 left-0 z-50" id="header">




    <div class="relative z-50 w-full py-4 bg-white container:py-10">
        <div class="container flex justify-between items-center gap-4 container:gap-12">

            <div class="menu-trigger-open shrink-0 container:hidden">
                <button class="button  button-style-invisible button-dense p-2" title="Content/Header/OpenMenu"
                    type="button">
                    <svg class="icon-type-pictogram">
                        <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#hamburger"></use>
                    </svg>
                </button>
            </div>

            <a class="shrink transition hover:opacity-80 focus:opacity-80 container:shrink-0" href="/"
                title="Home" target="" rel="noopener noreferrer">
                <img class="" src="https://klinc.com/-/media/klinc/logos/logo-bg-white.svg" alt="Zurich Klinc"
                    loading="lazy">

            </a>


            <div class="header-sticky-hide hidden grow container:flex container:items-center">
                <nav>
                    <ul class="flex flex-wrap items-center gap-x-4 gap-y-2" role="list">
                        <li>
                            <a class="button  button-style-invisible button-dense"
                                href="https://klinc.com/seguros-salud" title="Salud" target=""
                                rel="noopener noreferrer">

                                <span>Salud</span>
                            </a>

                        </li>
                        <li>
                            <a class="button  button-style-invisible button-dense" href="https://klinc.com/seguros-vida"
                                title="Vida" target="" rel="noopener noreferrer">

                                <span>Vida</span>
                            </a>

                        </li>
                        <li>
                            <a class="button  button-style-invisible button-dense" href="https://klinc.com/dispositivos"
                                title="Dispositivos" target="" rel="noopener noreferrer">

                                <span>Dispositivos</span>
                            </a>

                        </li>
                        <li>
                            <a class="button  button-style-invisible button-dense"
                                href="https://klinc.com/seguros-hogar" title="Hogar" target=""
                                rel="noopener noreferrer">

                                <span>Hogar</span>
                            </a>

                        </li>
                        <li>
                            <a class="button  button-style-invisible button-dense" href="https://klinc.com/motor"
                                title="Motor" target="" rel="noopener noreferrer">

                                <span>Motor</span>
                            </a>

                        </li>
                        <li>
                            <a class="button  button-style-invisible button-dense" href="https://klinc.com/movilidad"
                                title="Movilidad" target="" rel="noopener noreferrer">

                                <span>Movilidad</span>
                            </a>

                        </li>
                    </ul>
                </nav>
                <div class="hidden ml-12 pl-12 border-l-2 border-gray-esp border-dotted xl:block">
                    <a class="button  button-style-invisible button-dense" href="https://klinc.com/servicios"
                        title="Servicios" target="" rel="noopener noreferrer">

                        <span>Servicios</span>
                    </a>

                </div>

            </div>


            <div class="hidden shrink-0 gap-4 container:flex">
                <a class="button  button-style-outlined button-dense flex-row-reverse" href="https://ayuda.klinc.com/"
                    title="Ayuda" target="" rel="noopener noreferrer">
                    <svg class="icon-type-pictogram">
                        <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#interface-help-2"></use>
                    </svg>
                    <span>Ayuda</span>
                </a>

                <div class="menu-trigger-open ">
                    <button class="button  button-style-invisible button-dense p-2" title="Content/Header/OpenMenu"
                        type="button" control-id="ControlID-1">
                        <svg class="icon-type-pictogram">
                            <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#hamburger"></use>
                        </svg>
                    </button>
                </div>

            </div>
            <div class="shrink-0 container:hidden">
                <a class="button  button-style-invisible button-dense p-2" href="https://ayuda.klinc.com/" title="Ayuda"
                    target="" rel="noopener noreferrer">
                    <svg class="icon-type-pictogram">
                        <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#interface-help-2"></use>
                    </svg>
                </a>

            </div>
        </div>
        <div class="absolute top-0 right-0 overflow-y-auto opacity-0 translate-x-full w-full h-screen px-4 py-4 bg-blue transition duration-500 container:min-w-[486px] container:w-auto container:px-20 container:py-10"
            id="menu">
            <div class="flex justify-between items-center gap-4 mb-8 container:hidden">

                <div class="menu-trigger-close shrink-0 container:hidden">
                    <button class="button  button-style-contained button-dense p-2" title="Content/Header/CloseMenu"
                        type="button" control-id="ControlID-2">
                        <svg class="icon-type-pictogram">
                            <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#interface-close"></use>
                        </svg>
                    </button>
                </div>

                <a class="shrink transition hover:opacity-80 focus:opacity-80" href="https://klinc.com/" title="Home"
                    target="" rel="noopener noreferrer">
                    <img class="" src="https://klinc.com/-/media/klinc/logos/logo.svg" alt="Zurich Klinc"
                        loading="lazy">

                </a>


                <div class="shrink-0">
                    <a class="button  button-style-contained button-dense p-2" href="https://ayuda.klinc.com/"
                        title="Ayuda" target="" rel="noopener noreferrer">
                        <svg class="icon-type-pictogram">
                            <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#interface-help-2"></use>
                        </svg>
                    </a>

                </div>
            </div>
            <div class="hidden justify-end items-center gap-4 mb-8 container:flex">

                <a class="button  button-style-contained button-dense flex-row-reverse" href="https://ayuda.klinc.com/"
                    title="Ayuda" target="" rel="noopener noreferrer">
                    <svg class="icon-type-pictogram">
                        <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#interface-help-2"></use>
                    </svg>
                    <span>Ayuda</span>
                </a>

                <div class="menu-trigger-close ">
                    <button class="button  button-style-contained button-dense p-2" title="Content/Header/CloseMenu"
                        type="button" control-id="ControlID-3">
                        <svg class="icon-type-pictogram">
                            <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#interface-close"></use>
                        </svg>
                    </button>
                </div>


            </div>

            <nav>
                <ul class="pb-[26px] mb-[22px] border-b-4 border-dotted border-white">
                    <li class="dropdown">
                        <div class="dropdown-trigger">
                            <button
                                class="flex justify-between items-center gap-2 w-full py-[18px] pr-6 pl-4 text-white fill-white transition hover:text-blue-water-bright hover:fill-blue-water-bright focus:text-blue-water focus:fill-blue-water"
                                type="button" control-id="ControlID-4">
                                <div class="grow text-left text-typestyle-body-1-regular">
                                    Salud
                                </div>
                                <svg class="icon-type-pictogram">
                                    <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#interface-arrows-button-down">
                                    </use>
                                </svg>
                            </button>
                        </div>
                        <div class="dropdown-content">
                            <ul>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/seguros-salud" title="Seguros de salud" target=""
                                        rel="noopener noreferrer">
                                        Seguros de salud
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <div class="dropdown-trigger">
                            <button
                                class="flex justify-between items-center gap-2 w-full py-[18px] pr-6 pl-4 text-white fill-white transition hover:text-blue-water-bright hover:fill-blue-water-bright focus:text-blue-water focus:fill-blue-water"
                                type="button" control-id="ControlID-5">
                                <div class="grow text-left text-typestyle-body-1-regular">
                                    Vida
                                </div>
                                <svg class="icon-type-pictogram">
                                    <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#interface-arrows-button-down">
                                    </use>
                                </svg>
                            </button>
                        </div>
                        <div class="dropdown-content">
                            <ul>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/seguros-vida" title="Seguros de Vida" target=""
                                        rel="noopener noreferrer">
                                        Seguros de Vida
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/seguros-vida/familia" title="Familia" target=""
                                        rel="noopener noreferrer">
                                        Familia
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/seguros-vida/hipotecas-prestamo" title="Hipotecas"
                                        target="" rel="noopener noreferrer">
                                        Hipotecas
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="/contratar-seguro/vida/?IDFR=vida" title="Ver precios" target=""
                                        rel="noopener noreferrer">
                                        Ver precios
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <div class="dropdown-trigger">
                            <button
                                class="flex justify-between items-center gap-2 w-full py-[18px] pr-6 pl-4 text-white fill-white transition hover:text-blue-water-bright hover:fill-blue-water-bright focus:text-blue-water focus:fill-blue-water"
                                type="button" control-id="ControlID-6">
                                <div class="grow text-left text-typestyle-body-1-regular">
                                    Dispositivos
                                </div>
                                <svg class="icon-type-pictogram">
                                    <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#interface-arrows-button-down">
                                    </use>
                                </svg>
                            </button>
                        </div>
                        <div class="dropdown-content">
                            <ul>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/dispositivos" title="Seguros de Dispositivos" target=""
                                        rel="noopener noreferrer">
                                        Seguros de Dispositivos
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/dispositivos/seguro-movil" title="Móvil" target=""
                                        rel="noopener noreferrer">
                                        Móvil
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/promociones" title="Packs" target=""
                                        rel="noopener noreferrer">
                                        Packs
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/dispositivos/seguro-portatiles" title="Portátiles"
                                        target="" rel="noopener noreferrer">
                                        Portátiles
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/dispositivos/seguro-tablets" title="Tablets" target=""
                                        rel="noopener noreferrer">
                                        Tablets
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/dispositivos/seguro-auriculares" title="Auriculares"
                                        target="" rel="noopener noreferrer">
                                        Auriculares
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/dispositivos/seguro-camaras" title="Cámaras" target=""
                                        rel="noopener noreferrer">
                                        Cámaras
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/dispositivos/seguro-smartwatch" title="Smartwatch"
                                        target="" rel="noopener noreferrer">
                                        Smartwatch
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/dispositivos/seguro-consolas" title="Consolas" target=""
                                        rel="noopener noreferrer">
                                        Consolas
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="/contratar-seguro/moviles/?IDFR=banda" title="Ver precios" target=""
                                        rel="noopener noreferrer">
                                        Ver precios
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <div class="dropdown-trigger">
                            <button
                                class="flex justify-between items-center gap-2 w-full py-[18px] pr-6 pl-4 text-white fill-white transition hover:text-blue-water-bright hover:fill-blue-water-bright focus:text-blue-water focus:fill-blue-water"
                                type="button" control-id="ControlID-7">
                                <div class="grow text-left text-typestyle-body-1-regular">
                                    Hogar
                                </div>
                                <svg class="icon-type-pictogram">
                                    <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#interface-arrows-button-down">
                                    </use>
                                </svg>
                            </button>
                        </div>
                        <div class="dropdown-content">
                            <ul>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/seguros-hogar" title="Seguros de Hogar" target=""
                                        rel="noopener noreferrer">
                                        Seguros de Hogar
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/seguros-hogar/inquilinos" title="Inquilinos" target=""
                                        rel="noopener noreferrer">
                                        Inquilinos
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/seguros-hogar/propietarios" title="Propietarios"
                                        target="" rel="noopener noreferrer">
                                        Propietarios
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="/contratar-seguro/lifestyle/hogar/direct/household?IDFR=hogar"
                                        title="Ver precios" target="" rel="noopener noreferrer">
                                        Ver precios
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <div class="dropdown-trigger">
                            <button
                                class="flex justify-between items-center gap-2 w-full py-[18px] pr-6 pl-4 text-white fill-white transition hover:text-blue-water-bright hover:fill-blue-water-bright focus:text-blue-water focus:fill-blue-water"
                                type="button" control-id="ControlID-8">
                                <div class="grow text-left text-typestyle-body-1-regular">
                                    Motor
                                </div>
                                <svg class="icon-type-pictogram">
                                    <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#interface-arrows-button-down">
                                    </use>
                                </svg>
                            </button>
                        </div>
                        <div class="dropdown-content">
                            <ul>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/motor" title="Seguros de Motor" target=""
                                        rel="noopener noreferrer">
                                        Seguros de Motor
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/motor/seguro-coche-terceros" title="Terceros" target=""
                                        rel="noopener noreferrer">
                                        Terceros
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/motor/seguro-coche-terceros-ampliado"
                                        title="Terceros ampliado" target="" rel="noopener noreferrer">
                                        Terceros ampliado
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/motor/seguro-coche-todo-riesgo" title="Todo riesgo"
                                        target="" rel="noopener noreferrer">
                                        Todo riesgo
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/motor/seguro-coche-todo-riesgo-franquicia"
                                        title="Todo riesgo con franquicia" target="" rel="noopener noreferrer">
                                        Todo riesgo con franquicia
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="/contratar-seguro/motor/tipo-seguro/" title="Ver precios" target=""
                                        rel="noopener noreferrer">
                                        Ver precios
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <div class="dropdown-trigger">
                            <button
                                class="flex justify-between items-center gap-2 w-full py-[18px] pr-6 pl-4 text-white fill-white transition hover:text-blue-water-bright hover:fill-blue-water-bright focus:text-blue-water focus:fill-blue-water"
                                type="button" control-id="ControlID-9">
                                <div class="grow text-left text-typestyle-body-1-regular">
                                    Movilidad
                                </div>
                                <svg class="icon-type-pictogram">
                                    <use xlink:href="/-/media/Klinc/SpriteFile/sprite.svg#interface-arrows-button-down">
                                    </use>
                                </svg>
                            </button>
                        </div>
                        <div class="dropdown-content">
                            <ul>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/movilidad" title="Seguros de Movilidad" target=""
                                        rel="noopener noreferrer">
                                        Seguros de Movilidad
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/movilidad/seguro-bicicleta" title="Bicicleta" target=""
                                        rel="noopener noreferrer">
                                        Bicicleta
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="https://klinc.com/movilidad/seguro-patinete" title="Patinete" target=""
                                        rel="noopener noreferrer">
                                        Patinete
                                    </a>

                                </li>
                                <li>
                                    <a class="block py-[18px] pr-6 pl-12 text-typestyle-body-1-regular text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                        href="/contratar-seguro/lifestyle/movilidad-personal?IDFR=banda"
                                        title="Ver precios" target="" rel="noopener noreferrer">
                                        Ver precios
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="pb-[26px] mb-[22px] border-b-4 border-dotted border-white">

                    <ul>
                        <li> <a class="block py-[18px] pr-6 pl-4 text-typestyle-body-1-medium text-white transition hover:text-blue-water-bright focus:text-blue-water"
                                href="https://klinc.com/servicios" title="Servicios" target=""
                                rel="noopener noreferrer">

                                <span>Servicios</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <ul>
                    <li>
                        <a class="block py-[18px] pr-6 pl-4 text-typestyle-body-1-medium text-white transition hover:text-blue-water-bright focus:text-blue-water"
                            href="https://klinc.com/que-es-klinc" title="Conócenos" target="" rel="noopener noreferrer">
                            Conócenos
                        </a>

                    </li>
                    <li>
                        <a class="block py-[18px] pr-6 pl-4 text-typestyle-body-1-medium text-white transition hover:text-blue-water-bright focus:text-blue-water"
                            href="https://klinc.com/sostenibilidad" title="Sostenibilidad" target=""
                            rel="noopener noreferrer">
                            Sostenibilidad
                        </a>

                    </li>
                    <li>
                        <a class="block py-[18px] pr-6 pl-4 text-typestyle-body-1-medium text-white transition hover:text-blue-water-bright focus:text-blue-water"
                            href="https://klinc.com/partners" title="Partners" target="" rel="noopener noreferrer">
                            Partners
                        </a>

                    </li>
                    <li>
                        <a class="block py-[18px] pr-6 pl-4 text-typestyle-body-1-medium text-white transition hover:text-blue-water-bright focus:text-blue-water"
                            href="https://ayuda.klinc.com/" title="FAQs" target="" rel="noopener noreferrer">
                            FAQs
                        </a>

                    </li>
                    <li>
                        <a class="block py-[18px] pr-6 pl-4 text-typestyle-body-1-medium text-white transition hover:text-blue-water-bright focus:text-blue-water"
                            href="https://blog.klinc.com/" title="Blog" target="" rel="noopener noreferrer">
                            Blog
                        </a>

                    </li>
                    <li>
                        <a class="block py-[18px] pr-6 pl-4 text-typestyle-body-1-medium text-white transition hover:text-blue-water-bright focus:text-blue-water"
                            href="https://klinc.com/promociones" title="Promociones" target=""
                            rel="noopener noreferrer">
                            Promociones
                        </a>

                    </li>
                    <li>
                        <a class="block py-[18px] pr-6 pl-4 text-typestyle-body-1-medium text-white transition hover:text-blue-water-bright focus:text-blue-water"
                            href="https://klinc.com/siniestros" title="Siniestros" target="" rel="noopener noreferrer">
                            Siniestros
                        </a>

                    </li>
                </ul>

            </nav>


        </div>
    </div>
</header>
<router-outlet />